{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_meta %}
{% endblock %}

{% block main %}

  {% if request.user.is_authenticated %}
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        {% include 'feedback/forms/feedback.html' with form=feedback_form %}
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        {% include 'usercontrols/forms/login.html' with form=login_form %}
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}