<br>
<br>
<form method="post" novalidate action="{% url 'login' %}">
  {% include '_common/forms/base_form.html' %}

  <button class="btn btn-primary">Войти</button>
  <a href="{% url 'registration' %}">Зарегистрироваться</a>
</form>