<br>
<br>
<form method="post" novalidate action="{% url 'registration' %}">
  {% include '_common/forms/base_form.html' %}

  <button class="btn btn-success">Регистрация</button>
  <a href="{% url 'homepage' %}">Войти</a>
</form>