{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_meta %}
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {% include 'usercontrols/forms/registration.html' %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}