form .errors {
  color: red;
}

#alerts {
  position: absolute;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.33);
  display: none;
}