{% load staticfiles %}
<!doctype html>
<html lang="ru">
<head>
  <title>Title</title>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{csrf_token}}">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  {% block extra_meta %}{% endblock %}
</head>
<body>
  <div id="alerts"></div>
  <div class="preloader"></div>
  {% block after_body %}{% endblock %}
  <div class="container">
    {% block main %}{% endblock %}
  </div>
  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static 'js/scripts.js' %}?v=1"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>